.product-create-form-container {
  background-color: #F9F9F9;
  padding: 24px 20px;
  max-width: 400px;
  margin: 0 auto;
}
.form-group-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-group-type a {
  font-size: 0.8em;
  margin-bottom: 4px;
}